* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #bbdfc8;
}

.topbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav{
    display: flex;
    background-color: #00af91;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav .nav-side{
    width: 40%;
    height: 50px;
    background-color:#f58634;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

nav ul li{
   list-style: none;
   margin-left: 40px;
   text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'francois_oneregular';
}

nav .logo h4{
    font-family: 'francois_oneregular';
    font: 25px/25px 'francois_oneregular';
    padding-left: 10px;
}

nav .nav-side .hamburger{
    width: 50px;
    height: 50px;
    margin-top: 15px;
    z-index: -1;
    position: relative;
}

nav .nav-side .hamburger input{
    width: 100px;
    position: absolute;
}

nav .nav-side .hamburger div{
    width: 40px;
    height: 10px;
    background-color: white;
    margin-bottom: 3px;
    border-radius: 2px;
}

.banner{
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    display: flex;
}

.banner img{
    width: 100%;
    margin: 0 auto;
}

.content{
    width: 80%;
    height: 2000px;
    background-color: white;
    margin: 0 auto;
    font-family: 'Mukta Mahee', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 10px 80px;
    box-sizing: border-box;
}

.profil-desa{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.profil-desa h3{
    text-align: center;
    margin-bottom: 20px;
}

.profil-desa p{
    text-align: justify;
    text-indent: 50px;
}

.visi-misi{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.visi-misi .visi{
    margin-top: 20px;
    text-align: center;
}

.visi-misi ul li{
    list-style: none;
}

.visi-misi .misi{
    text-align: center;
    margin-top: 20px;
}

.data-penduduk{
    width: 100%;
    margin-top: 30px;
}

.data-penduduk h3{
    text-align: center;
}

.data-penduduk .gambar{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 0 100px;
}

.data-pemduduk .gambar .laki-laki p{
}

.data-penduduk .gambar .laki-laki img{
    width: 200px;
    height: 200px;
}

.data-penduduk .gambar .perempuan img{
    width: 200px;
    height: 200px;
}

.data-penduduk .tulisan{
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    padding-left: 100px;
    padding-right: 100px;
}


/* Fonts */


@font-face {
    font-family: 'francois_oneregular';
    src: url('fonts/francoisone-webfont.woff2') format('woff2'),
         url('fonts/francoisone-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Media */

@media screen and (max-width: 768px){
    nav ul li{
        margin-left: 20px;
    }

    nav .nav-side{
        width: 50%;
    }

}

@media screen and (max-width: 576px){
    nav ul{
        display: none;
    }

    nav .nav-side{
        background-color:  #00af91;
        justify-content: right;
        margin-right: 5px;
    }

    nav .nav-side .hamburger{
        display: block;
        z-index: 2;
        margin-top: 28px;
    }

    nav .logo h4{
        font: 18px/25px 'francois_oneregular';
    }

    nav .nav-side .hamburger div{
        width: 30px;
        height: 5px;
    }

}